  
{% extends "base.html" %}
{% block titulo %}
{% load static %}
    <h2>Formulário Categoria</h2>
{% endblock %}
{% block conteudo %}
        <a href="{% url "pg_inicial" %}">
            <button>Voltar</button>
        </a>
        
        <form method="post" id='form_categoria'>
            {% csrf_token %}
            <p>
            <label for="id_tipo">Tipo:</label>
            <input type="text" name="tipo" maxlength="100"  id="id_tipo" value="{{ categoria.tipo }}">  
            </p>
            <button type="submit" id='salvar'>Salvar</button>
            <a href="{% url "pg_criar_servico" %}">
                <button type="button">Cancelar</button>
            </a>
        </form>

        <h2>Lista de Categorias</h2>

        {% for categoria in categorias %}
            <div class="card-formulario">
                <span>{{ categoria.tipo }}</span>
                <div class="btns_formulario">
                    <a href="{% url "pg_editar_categoria" categoria.id %}">
                        <span>Editar Categoria</span>
                    </a>
                    <a href="{% url "pg_excluir_categoria" categoria.id %}" onclick=" return confirm('Deseja realmente excluir?')">
                        <span>Excluir Categoria</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    <script src="{% static 'js/validacoes_categoria.js'%}"></script>
    {% endblock %}
