{% extends "base.html" %}
{% load static %}

{% block titulo %} 
    <a href="{% url "pg_inicial" %}">
        <button>Voltar</button>
    </a>
    
    <h2>Formulário Empresa</h2>
{% endblock %}      
{% block conteudo %}    
        

    <form method="post" id="form_empresa">
        {% csrf_token %}
        <p>
            <label for="id_empresa">Razão Social:</label>
            <input type="text" name="razao_social" maxlength="100"  id="razao_social" value="{{ empresa.razao_social }}">  
        </p>
        <p>
            <label for="id_empresa">CNPJ:</label>
            <input type="text" name="cnpj" maxlength="100"  id="cnpj" value="{{ empresa.cnpj }}">  
        </p>
        <button type="submit">Salvar</button>
        <a href="{% url "pg_criar_empresa" %}">
            <button type="button">Cancelar</button>
        </a>
    </form>

    <h2>Lista de Empresas</h2>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Razão Social</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in empresas %}
                <tr>
                    <th scope="row">{{empresa.id}}</th>
                    <td>{{ empresa.razao_social }}</td>
                    <td>{{ empresa.cnpj }}</td>
                    <td>
                    <div class="btns_formulario">
                        <a href="{% url "pg_editar_empresa" empresa.id %}">
                            <span>Editar Empresa</span>
                        </a>
                        <a href="{% url "pg_excluir_empresa" empresa.id %}" onclick="return confirm('Deseja realmente excluir?')">
                            <span>Excluir Empresa</span>
                        </a>
                    </div>
                    
                </tr>      
                        
            {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'js/validacoes_empresa.js'%}"></script>
{% endblock %} 
   