{% extends "base.html" %}
{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulário Ordem de Serviço</title>
    </head>
    <body>
        <a href="{% url "pg_inicial" %}">
            <button>Voltar</button>
        </a>
        <h2>Formulário Ordem de Serviço</h2>

        <form method="post">
            {% csrf_token %}
            {{ form_ordemservico.as_p }}
            <button type="submit">Salvar</button>
            <a href="{% url "pg_inicial" %}">
                <button type="button">Cancelar</button>
            </a>
        </form>

    </body>
</html> {% endcomment %}

{% load static %}

{%block titulo%}
    <a href="{% url "pg_inicial" %}">
        <button>Voltar</button>
    </a>

    <h2>Formulário Ordem de Serviços</h2>
{%endblock%}

{%block conteudo%}
  
    <form method="post">
        {% csrf_token %}
        <div class="row-center">
            
            <div>
                <label for="id_cliente">Cliente:</label>
                <select name="cliente_id" id="cliente_id">
                    <option value="{{ordemservico.cliente_id}}" selected="{{ordemservico.cliente_id}}">{{ordemservico.cliente.nome}}</option>
                    {% for cliente in clientes %}
                        <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
                    {% endfor %}
                </select>
                
                    <label for="id_empresa">Empresa:</label>
                    <select name="empresa_id" required="" id="empresa_id">
                        <option value="{{ordemservico.empresa_id}}" selected="{{ordemservico.empresa_id}}">{{ordemservico.empresa.razao_social}}</option>
                        {% for empresa in empresas %}
                            <option value="{{ empresa.id }}">{{ empresa.razao_social }}</option>
                        {% endfor %}
                    </select>
                
                <label for="id_servico">Serviço:</label>
                <select name="servico_id" required="" id="servico_id">
                    <option value="{{ ordemservico.servico_id}}" selected="{{ ordemservico.servico_id}}">{{ ordemservico.servico.tipo }}</option>
                    {% for servico in servicos %}
                        <option value="{{ servico.id }}">{{ servico.tipo }}</option>
                    {% endfor %}
                </select>
                
                <label for="data">Data Inicio do servico:</label>
                <input type="date" name="data" maxlength="100"  id="data" value="{{ ordemservico.data}}">
            
                <label for="data">Data Término do Serviço:</label>
                <input type="date" name="data_finalizacao" maxlength="100"  id="data_finalizacao" value="{{ ordemservico.data_finalizacao}}">

                <label for="status">STATUS:</label>
                <select name="status"  id="status" >
                    {% if ordemservico %}
                        <option value="{{ ordemservico.status }}" selected="{{ ordemservico.status }}">
                            {% if ordemservico.status == 0 %}
                                Em andamento
                            {% else %}
                                Concluido
                            {% endif%}
                        </option>
                    {% else%}
                    <option value=""></option>
                    {% endif%}
                    <option value="0">Em andamento</option>
                    <option value="1">Concluído</option>
                    
        
                </select>
                
                <button type="submit"class='btn btn-primary'>Salvar</button>
                <a href="{% url "pg_inicial" %}">
                    <button type="button"class='btn btn-danger'>Cancelar</button>
                </a>
            </div>
        </div>
    </form>
    
       

    <h2>Lista de Ordem de Serviços</h2>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome Cliente</th>
            <th scope="col">Empresa</th>
            <th scope="col">Tipo Serviço</th>
            <th scope="col">Data Inicial</th>
            <th scope="col">Data Final</th>
            <th scope="col">Status</th>
            <th scope="col">Opções</th>
            </tr>
        </thead>

        <tbody>
            {% for os in ordemservicos %}
                <tr>
                    <th scope="row">{{os.id}}</th>
                    <td>{{ os.cliente.nome }}</td>
                    <td>{{ os.empresa.razao_social}}</td>
                    <td>{{ os.servico.tipo }}</td>
                    <td>{{ os.data }}</td>
                    <td>{{ os.data_finalizacao}}</td>
                    {% if os.status == 0 %}
                        <td>Em andamento</td>
                    {% else %}
                        <td>Concluido</td>
                    {% endif%}
                    <td>
                        <div class="btns_formulario">
                            <a href="{% url "pg_editar_ordemservico" os.id %}">
                                <div>
                                    <img src='https://img.icons8.com/?size=100&id=8rqSU6umQzpk&format=png&color=000000' width='35' height='35'>Editar</img>
                                </div>
                            </a> 
                            <a href="{% url "pg_excluir_ordemservico" os.id %}"onclick=" return confirm('Deseja realmente excluir?')">
                                <div> 
                                    <img src='https://img.icons8.com/?size=100&id=57061&format=png&color=000000' width='35' height='35'>Excluir</img>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'js/validacoes_ordemservicos.js'%}"></script>
{%endblock%}