{% extends "base.html" %}
{% load static %}

{% block titulo %} 
<div class="container">
    <a href="{% url "pg_inicial" %}">
        <button>Voltar</button>
    </a>
    
    <h2>Formulário Empresa</h2>
</div>
{% endblock %}  

{% block conteudo %}    
<div class="container">       
    <form method="post" id="form_empresa">
        {% csrf_token %}
        
        <label for="id_empresa">Razão Social:</label>
        <input type="text" name="razao_social" maxlength="100"  id="razao_social" value="{{ empresa.razao_social }}">  
    
    
        <label for="id_empresa">CNPJ:</label>
        <input type="text" name="cnpj" maxlength="100"  id="cnpj" value="{{ empresa.cnpj }}">
        
        <label for="id_empresa">ENDEREÇO:</label>
        <input type="text" name="endereco" maxlength="100"  id="endereco" value="{{ empresa.endereco }}"> 
    
        <button type="submit" class='btn btn-primary'>Salvar</button>
        <a href="{% url "pg_criar_empresa" %}">
            <button type="button" class='btn btn-danger'>Cancelar</button>
        </a>
    </form>
</div>
<div class="container">
    <h2>Lista de Empresas</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Razão Social</th>
                <th scope="col">CNPJ</th>
                <th scope="col">ENDEREÇO</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in empresas %}
                <tr>
                    <th scope="row">{{empresa.id}}</th>
                    <td>{{ empresa.razao_social }}</td>
                    <td>{{ empresa.cnpj }}</td>
                    <td>{{ empresa.endereco }}</td>

                    <td>
                        <div class="btns_formulario">
                            <a href="{% url "pg_editar_empresa" empresa.id %}">
                                <div>
                                    <img src='https://img.icons8.com/?size=100&id=8rqSU6umQzpk&format=png&color=000000' width='35' height='35'>Editar</img>
                                </div>
                            </a>
                            <a href="{% url "pg_excluir_empresa" empresa.id %}" onclick="return confirm('Deseja realmente excluir?')">
                                <div> 
                                    <img src='https://img.icons8.com/?size=100&id=57061&format=png&color=000000' width='35' height='35'>Excluir</img>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>      
                        
            {% endfor %}
        </tbody>
    </table>
</div>
    <script src="{% static 'js/validacoes_empresa.js'%}"></script>
{% endblock %} 
   