{% extends "base.html" %}
{% load static %}

{%block titulo%}
   
    <h2>PÀGINA PRINCIPAL</h2>
    <nav class="nav">
        
        <a class="nav-link active" href="{% url "pg_criar_ordemservico" %}">ORDEM DE SERVIÇO</a>
        <a class="nav-link" href="{% url "pg_criar_cliente" %}">CLIENTE</a>
        <a class="nav-link" href="{% url "pg_criar_empresa" %}">EMPRESA</a>
        <a class="nav-link" href="{% url "pg_criar_servico" %}">SERVIÇO</a>
        <a class="nav-link" href="{% url "pg_criar_produto" %}">PRODUTO</a>
        <!--<a class="nav-link" href="{% url "pg_criar_categoria" %}">CATEGORIA</a>-->
        <a class="nav-link" href="{% url "pg_criar_categoria" %}">CATEGORIA</a>
        
    </nav>
   
       
        
       <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            IBGE
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "ibge" %}">IBGERN</a></li>
                <li><a class="dropdown-item" href="{% url "ibgePi" %}">IBGEPI</a></li>
            
            </ul>-->
       
    
{%endblock%}

{%block conteudo%}
    <h2>Lista de Ordens de Serviços</h2>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">EMPRESA</th>
            <th scope="col">SERVIÇO</th>
            <th scope="col">DATA INICIAL</th>
            <th scope="col">DATA FINALIZAÇÂO</th>
            <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for os in ordemservicos %}

                <tr>
                    <th scope="row">{{os.id}}</th>
                    <td>{{ os.cliente.nome }}</td>
                    <td>{{ os.empresa.razao_social }}</td>
                    <td>{{ os.servico.tipo }}</td>
                    <td>{{ os.data }}</td>
                    <td>{{ os.data_finalizacao}}</td>
                    <td>
                        
                       <!-- {% for servico in os.servico.all %}
                            <th>{{ servico.tipo_servico }} - R$ {{ servico.valor_servico }} - {{ servico.empresa.razao_social }}</th>
                        {% endfor %}-->
                    </td>
                    <td>  
                    
                        <div class="btns_formulario">
                            <a href="{% url "pg_editar_ordemservico" os.id %}" >
                                <span>Editar Ordem de Serviços:</span>
                            </a> 
                            <a href="{% url "pg_excluir_ordemservico" os.id %}"onclick=" return confirm('Deseja realmente excluir?')">
                                <span>Excluir Ordem de Serviços:</span>
                            </a>
                        </div>
                    
                    </td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
    
{%endblock%}
