/* styles.css */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list {
    list-style: none;
    padding: 0;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

/* Estilize os botões de avançar e retroceder */
#prevBtn,
#nextBtn {
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
