.card{
    
    border: 2px solid #000;
    width: 250px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(146,146,146, 146);
    flex-direction: column;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: cadetblue;  
    cursor: pointer;
}
body{
    background-image:  url('https://img.freepik.com/fotos-gratis/armazem-moderno-banhado-pelo-brilho-do-sol-ao-por-do-sol_91128-4583.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: 0;
}
.navbar{
    display: flex;
    border-radius: 5px;
    font-size: 25px;
    background-color:black;
    height: 100px;
    
}
.nav-conteiner{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
   text-transform: uppercase;
    z-index: 999;
}

.nav-list{
    list-style: none; /* Remova os marcadores de lista */
    display: flex; /* Use flexbox para alinhar os itens horizontalmente */
    justify-content: center; /* Centralize os itens horizontalmente */
    
}

.nav-list li{
    margin-right: 40px;/*espaçamento entre os items*/
}
    
.nav-list li{
    margin-right: 40px;/*espaçamento entre os items*/
}

/* Mude a cor das opções ao passar o mouse sobre elas */
.dropdown-content a:hover {
    color: blue;
}

.nav-list li a {
    text-decoration: none; /* Remova a decoração de link */
    color:white; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */

}

.grupo-img:hover {
    transform: scale(1.35); /* Aumenta a imagem em 35% */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.nav-list li a:hover{
    color:aquamarine;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: cadetblue;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/  
}

/* Estilize as opções do menu suspenso */
.dropdown-content a {
    color:red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Exiba o conteúdo do menu suspenso ao passar o mouse sobre o indice */

.dropdown:hover .dropdown-content {
    display: block ;
    border-top: 2px solid red;
}
.rodape{
    display: flex;
    justify-content: space-between;/*ajusta o espaço entre os elementos de uma div, ou seja coloca cada um em uma extremidade*/

}
footer{
    border: 2px solid rgb(71, 151, 231);
    font-size: larger ;
    color: blue;
    background-color:aquamarine;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; 
}



