.card{

    border: 2px solid #000;
    width: 250px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(146,146,146, 146);
    flex-direction: column;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: cadetblue;  
    cursor: pointer;
    
    flex-wrap: wrap; 
}

.lista-div{
    display: flex;
    flex-wrap: wrap;
}
.fundo{
    width: auto;
    height: auto;
    justify-content: center;
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; 
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;
}
/*
select {
     Estilize conforme necessário 
}
*/
/* Estilize a barra de navegação */
.navbar {
    background-color: #333;
    overflow: hidden;
}

/* Estilize o botão do menu suspenso */
.dropbtn {
   /* background-color: #333;*/
    color: rgb(24, 20, 20);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

/* Estilize o conteúdo do menu suspenso */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Estilize as opções do menu suspenso */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Mude a cor das opções ao passar o mouse sobre elas */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Exiba o conteúdo do menu suspenso ao passar o mouse sobre o botão */
.dropdown:hover .dropdown-content {
    display: block;
}

