body{
    display: flex;
    flex-wrap: wrap;
    
}
/*
.valor{
    display: flex;
    font-weight: bold; 
}
*/
.secador{
    border: 2px solid #000 ;
    width: fit-content;
    float: left;
    margin: 10px;
    
}

.menor{
    color: red;
    text-decoration:line-through
    
    
}
.texto{
    text-align: center;
    

    
}






    