{% load static %}
<HTML>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <BODY>
        <a href="{% url 'pagina_cadastro' %}">Cadastro</a>

      
            <div class="lista-card">
                {% for Dvd in Dvds %}
                    <div class="card">
                        <img src="{{Dvd.foto.url}}" height=100>
                        <p>{{ Dvd.titulo}} </p>  
                        <p>{{ Dvd.genero }}</p>
                    
                    </div>
                
                {% endfor %}
            </div>
        
    </BODY>
</HTML>
