.Lista_Card{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap:15px ;

}
.card{
    display: flex;
    width: fit-content;
    height: fit-content;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgb(167,184,175);
    flex-direction: column;
    padding: 10px;
    align-items: center;
    color: white;
}

ul{
    list-style: none;
}

a{
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(207, 22, 22);
    box-shadow: 6px 6px 8px rgb(167, 184, 175);
    border: 1px solid #000;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;

}
li{
    color: #000;
}