{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <p>
            Minha lista de Peças:
        </p>
        <a href="{% url "pagina_index"%}">Página inicial</a>
        <div class=Lista_Card>
            {% for clientes in cliente %}
                <div class = card>
                    <p>{{ clientes.nome }} </p>
                    <p>{{ clientes.email }}</p>
                    <p>{{ clientes.celular }}</p>
                    <p>{{ clientes.endereco }}</p>
                </div>
            {% endfor %}
    </body>
</html>
