{% load static %}
<html>
    
    <body>
        
        <a href="{% url "pagina_index"%}">Página inicial</a>
        
        <h3>Formulário de Peças:</h3>

        <form method="post", enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit">Salvar</button>
            <button type="reset" onclick="resetForm()">Cancelar</button>
        </form>
        <p>
            Minha lista de Peças:
        </p>
        
        <ul>
            {% for item in pecas %}
                
                <li>{{item.nome }} </li>
                <li> {{item.fornecedor}}</li>
                <li>{{ item.valor }} </li>
                <li><img src = "{{item.foto.url }}" height=100></li>
            {% endfor %}
        </ul>

        
</html>
