{% load static %}
<html>
    
    <body>
        
        <a href="{% url "pagina_index"%}">Página inicial</a>
        <div class='Lista_Card'>
            <p>
                Formulário de Vendas:
            </p>
            <form method="post">
                {% csrf_token %}
                {{ formulario.as_p }}
                <button type="submit">Salvar</button>
                <button type="reset" onclick="resetForm()">Cancelar</button>
            </form>
            <p>
                Minha lista de vendas:
            </p>
            
            <ul>
                {% for ticket in vendas %}
                    
                    <li>{{ticket.mecanico }} </li>
                    <li> {{ticket.valor_do_servico}}</li>
                    <li>{{ ticket.veiculo }} </li>
                    <li>{{ ticket.Valor_Total }} </li>
                    
                {% endfor %}
            </ul>
        </div>  
    </body>
</html>
