body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.acelereveiculos.com.br/images/foto-loja-1.jpg");
    display: flex;
    flex-direction: column;
}

h1{
    color: aqua;
}
ul{
    list-style: none;
}

a{
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    color: greenyellow;
    box-shadow: 6px 6px 8px rgb(167, 184, 175);
    border: 1px solid #000;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin: 10px;

}

.lista-card{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}

.card{
    display: flex;
    width: fit-content;
    height: fit-content;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgb(167, 184, 175);
    flex-direction: column;
    padding: 10px;
    align-items: center;
    color: white;
}

p{
    justify-content: center;
    color: white;
}
img{
    border-radius: 10px;
}