/*
.maior{
    color: red;
    text-decoration: line-through;
    
}
*/
.card{

    border: 2px solid #000;
    width: 250px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(146,146,146, 146);
    flex-direction: column;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: cadetblue;  
}
.lista-card{
    
    display: flex;
    flex-wrap: wrap; 
}
.imagem{
    width: auto;
    height: auto;
    justify-content: center;
}
.card:hover{
    background-color: aquamarine !important;
}
.grupo-img{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.textos{
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center; 
}
footer{
    border: 2px solid rgb(71, 151, 231);
    font-size: larger ;
    color: rgb(27, 211, 67);
}
.navbar{
    display: flex;
    font-weight: bolder;
    color:rgb(240, 39, 83);
    font-size: 25px;
}



