{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_index' %}">Página inicial</a>
        <h1>Formulário de Cadastro de Funcionários</h1>

        <form method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            {{ formulario.as_p }}
            <a href="{% url 'pagina_Funcionarios' %}"><button type="submit">Salvar</button></a>
            <button type="reset">Cancelar</button>
        </form>
    
    </body>
</html>
