{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>

        <a href="{% url 'pagina_index' %}">Página inicial</a>
        
        <h1>
            Minha lista de Carros: 
        </h1>
        <ul>
            {% for carros in carro %}
                <div>
                    <p><img src="{{carros.foto.url}}" height=100></p>
                    <p>{{ carros.modelo}} </p>  
                    <p>{{ carros.fabricante }}</p>
                    <p>{{carros.ano}}</p>
                    <br>
                    <p><a href= "{% url 'detalhes_carros' carros.id%}">Ver Detalhes</a></p>
                   
                </div>
               
            {% endfor %}
        </ul>
	
    </body>
</html>
