{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>

        <a href="{% url 'pagina_index' %}">Página inicial</a>
        
        <h1>
            Minha lista de Carros: 
        </h1>
        <ul>
            {% for carros in carro %}
            <div>
                
                {{ carros.modelo}} -  {{ carros.fabricante }} - {{carros.ano}} -
                <img src="{{carros.foto.url}}" height=100>
                
            </div>

            {% endfor %}
        </ul>
	
    </body>
</html>
