{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_index' %}">Página inicial</a>
        
        <h1>
            Minha lista de Clientes: 
        </h1>
        <div class="lista-card">
            {% for Clientes in cliente %}
            <div class="card">
                
                <p>{{ Clientes.nome }}</p>
                <p>{{ Clientes.email }}</p>
                <p>{{Clientes.contato}}</p>
                    
                
            </div>

            {% endfor %}
        </div>
	
    </body>
</html>