{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_index' %}">Página inicial</a>
        
        <h1>
            Minha lista de Clientes: 
        </h1>
        <ul>
            {% for Clientes in cliente %}
            <div>
                
                {{ Clientes.nome }} -  {{ Clientes.email }} - {{Clientes.contato}} -
                    
                
            </div>

            {% endfor %}
        </ul>
	
    </body>
</html>