{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_index' %}">Página inicial</a>
        
        <h1>
            Minha lista de Funcionários: 
        </h1>
        <ul>
            {% for cadastro in colaborador %}
            <div>
                
                {{ cadastro.nome }} -  {{ cadastro.email }} - {{cadastro.celular}} -
                <img src="{{cadastro.foto.url}}" height=50>
                
            </div>

            {% endfor %}
        </ul>
	
    </body>
</html>
