{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_index' %}">Página inicial</a>
        <a href="{% url 'pagina_cadastro_funcionario'%}">Cadastrar Funcionario</a> 
        
        <h1>
            Minha lista de Funcionários: 
        </h1>

        <div class="lista-card">
            {% for cadastro in colaborador %}
                <div class="card">
                    <img src="{{cadastro.foto.url}}" height=50>
                    <p>{{ cadastro.nome }}</p> 
                    <p>{{ cadastro.email }}</p>
                    <p>{{cadastro.celular}}</p>
                    <a href="{% url 'pg_editar_funcionario' cadastro.id %}">Editar Funcionario</a> 
                    <a href="{% url 'pagina_delete_funcionario' cadastro.id %}">Excluir Funcionario</a> 
                </div>
            {% endfor %}
        </div>
    </body>
</html>
