{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        
        <nav>
            <h1>Esta é a Página inicial</h1>
            
            <ul>
                
                <li>
                    <a href="{% url 'pagina_Funcionarios' %}">Funcionarios</a>
                    <a href="{% url 'pagina_Clientes' %}">Clientes</a>
                    <a href="{% url 'pagina_Carros' %}">Carros</a>
                    <a href="{% url 'pagina_Pagamento' %}">Pagamento</a>
                    <a href="{% url 'pagina_pedidos' %}">Pedidos</a>
                    <a href="{% url 'pagina_cadastro' %}">Cadastro de Carros</a>
                   
                </li>

            </ul>
         
        </nav>
        <script src="{% static 'js/node.js' %}"></script>
    </body>
</html>
