{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <h1>Esta é a página inicial</h1>
        <a href="{% url 'pagina_cadastro' %}">Cadastro</a>
        <p>
            Minha lista de Funcionários:
           
        </p>
        <ul>
            {% for cadastro in colaborador %}
            <li>
                {{ cadastro.nome }} -  {{ cadastro.email }} -
                {{cadastro.celular}} -
                <img src="{{cadastro.foto.url}}" height=20>
            </li>

        {% endfor %}
        </ul>
    </body>
</html>
