{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_index' %}">Página inicial</a>
        
        <h1>
            Minha lista de Pagamentos: 
        </h1>
        <ul>
            {% for pagamento in pagamentos %}
            <div>
                
                    {{ pagamento.forma_de_pagamento }} -  {{ pagamento.valor }} - 
                    {{pagamento.carro}} - {{pagamento.cliente}}
                    
                
            </div>

            {% endfor %}
        </ul>
	
    </body>
</html>