{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_index' %}">Página inicial</a>
        
        <h1>
            Minha lista de Pagamentos: 
        </h1>
        <div class="lista-card">
            {% for pagamento in pagamentos %}
            <div class="card">
                
                <p>{{ pagamento.forma_de_pagamento }}</p>
                <p>{{ pagamento.valor }}</p> 
                <p>{{pagamento.carro}}</p>
                <p>{{pagamento.cliente}}</p>
                    
                
            </div>

            {% endfor %}
        </div>
	
    </body>
</html>