{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_index' %}">Página inicial</a>
        
        <p>
            Minha lista de Pagamentos: 
        </p>
        <ul>
            {% for pagamento in pagamentos %}
            <li>
                {{ pagamento.forma_de_pagamento }} -  {{ pagamento.valor }} - 
                {{pagamento.carro}} - {{pagamento.cliente}}
                
            </li>

            {% endfor %}
        </ul>
	
    </body>
</html>